<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Inventory</title>
</head>

<body>
    <table class="table  table-sm">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Unit Price</th>
                <th scope="col" colspan="2">Operation</th>
            </tr>
        </thead>
        <tbody>
            <% info.forEach(function(x) { %>
            <tr>
                <td><%=x.name%></td>
                <td><%=x.amount%></td>
                <td><%=x.unit_pr%></td>
                <td class="form"> 
                    <form id="del" method="POST" action="inventory/delete/<%=x.mID%>">
                        <input type="hidden" value="<%=x.mID%>" name="id">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
                <td>
                    <form id="del" method="POST" action="inventory/edit/<%=x.mID%>">
                        <input type="hidden" value="<%=x.mID%>" name="id">
                        <input type="submit" value="Edit" class="btn btn-primary">
                    </form>
                </td>

            </tr>
            <%})%>
        </tbody>
    </table>
<div class="btn btn-red">
        <a class="btn btn-primary" href="http://localhost:3000/inventory/addInventory">Add Items</a>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>